.game-rules-container {
    max-width: 1200px;
    max-height: 640px !important;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: center;
    align-self: center;
    row-gap: 4rem;
}

.game-rules-text {
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 1rem;
}

.game-rules-text > h1 {
    grid-column-start: span 2;
    margin: 0;
    align-self: center;
}

.game-rules-text > span {
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    align-self: center;
}

.number-circle {
    background-color: #F5C518;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.game-rules-container > :last-child {
    grid-column-start: span 2;
    justify-self: center;
}

@media (max-width: 420px) {
    .game-rules-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        margin: 0 2rem;
        row-gap: 3rem;
    }

    .hero_image {
        display: none;
        height: 150px;
        grid-column-start: span 2;
        justify-self: center;
        grid-row-start: 1;
    }

    .game-rules-text {
        grid-column-start: span 2;
        justify-self: center;
        row-gap: 2.5rem;
    }

    .game-rules-text > h1 {
        font-size: 3rem;
    }
}