.game-rules-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: center;
    row-gap: 4rem;
}

.game-rules-text {
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 1rem;
}

.game-rules-text > h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #F5C518;
    grid-column-start: span 2;
    margin: 0;
    align-self: center;
}

.game-rules-text > span {
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    align-self: center;
}

.game-rules-text > img {
    align-self: center;
    justify-self: center;
}