.movie-card {
  width: 200px;
  height: 450px;
  background-color:#F5C518;
  border-radius: 15px;
  color: black;
  font-family: "Roboto";
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-self: center;
}

.movie-card-winner {
  width: 200px;
  height: 450px;
  background-color:#F5C518;
  border-radius: 21px;
  border: 7px solid green;
  color: black;
  font-family: "Roboto";
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-self: center;
}

  .movie-card-img {
    height: 300px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .movie-score-wrapper {
    background-color: black;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    color: #F5C518;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .movie-card-content {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 40px;
  }
  
  .movie-card-text > h2 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  
  .movie-card-text > p {
    font-size: 12px;
    margin-top: 5px;
  }

  .movie-card-text {
    grid-row-end: span 2;
  }
  
  .imdb_rating {
    display: flex;
    justify-content: space-evenly;
    grid-row-start: 3;
    align-self: center;
  }
  
  .imdb_rating_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imdb_rating_text > span {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .imdb_rating_score {
    display: flex;
    justify-content: center;
  }
  
  .imdb_logo_img {
    width: 53px;
    height: 26px;
  }
  
  .question_icon_img {
    width: 45px;
    height: 45px;
  }

  .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }

  @media (max-width: 400px) {
    .movie-card {
      height: 290px;
      width: 140px;
    }

    .movie-card-img {
      height: 160px;
      width: 140px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    .movie-card-text > h2 {
      font-size: 14px;
    }

    .movie-card-winner {
      height: 290px;
      width: 140px;
    }

    .imdb_logo_img {
      width: 30px;
      height: 15px;
    }
    
    .question_icon_img {
      width: 30px;
      height: 30px;
    }

    .movie-score-wrapper {
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
    }

  }