.game-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    justify-self: center;
    align-self: center;
    grid-template-rows: repeat(5,auto);
    grid-row-gap: 3rem;
}

#search-and-search-results-wrapper {
    position: relative;
}

.game-wrapper > h1 {
    margin: 0;
}

#score-result {
    color: white;
}

#round-end-message {
    color: white;
}