.movie-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 3rem;
    align-items: end;
    max-width: 1600px;
}

@media (max-width: 400px) {
    .movie-list {
        grid-template-columns: repeat(2, auto);
        grid-gap: 1.5rem;
    }

    .movie-list > :last-child {
        grid-row-start: 1;
        grid-column-end: span 2;
        justify-self: center;
    }
}